body{
    background: url(https://i.pinimg.com/564x/2b/26/eb/2b26eb193e91edcea3705dec52459468.jpg);
}
img{
    width: 300px;
    height: 300px;
    shape-image-threshold: inherit;
    shape-margin: 0%;
    text-align: center;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
img.avatar {
    width: 30%;
    border-radius: 150%;
}
.container {
    padding: 16px;

}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #04AA6D;
    color: lightblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }